<div class="partial" id="about_partial" style="display:none;">
	<hr class="about-line-top">

	<div><%= image_tag image_path('chrisandtyler.jpg'), class: "img-responsive chrisandtyler-img" %></div>
	
		<div class="about-info">
			<p>Through our studied evaluation and hard-earned experience, we have found that </p> <p> true success in business is predicated on a combination of industry knowledge, </p>
			<p>hard work, a bit of luck, and talented people—really talented people.</p>
			</div> 
			<div class="about-info-bold">
			<strong><p>J.P. Jennings, Co. was founded on the fundamental principle that</p> 		<p>when you bring talented people together—in just the right mix—and</p>  		
				<p>apply work ethic, experience, and good timing, the odds of success</p>  		<p>increase exponentially.</p></strong> 
			</div>
			<div class="about-info-bottom">
				<p>Following this philosophy, we have worked to curate a team of the highest level</p> <p>creative professionals and strategists. At any given time, we assist only a handful</p> <p>of select businesses in achieving their fullest potential by tailoring lucid strategies</p> <p>and executing streamlined procedures. As each project is unique in itself, we</p> <p>personally work with our clients as if their projects were our very own. Partner</p> <p>with our team to expose new growth in your business through our creative</p> <p>process. We view the business world differently:  <strong>Join us.</strong></p>
		</div>
	<div><hr class="about-line-bottom"></div>
	<center><p class="about-bottom-info">© 2016   J.P. Jennings, Co. All rights reserved.</p></center>	
