<div class="partial" id="contact_partial" style="display:none;">
	<hr class="contact-line-top">

	<center><div class="contact-info"><p> FUCKKKKKKK.</p>

<p><strong>o</strong> 6108492213</p>

<p><strong>e</strong> contact@jpjennings.co</p></div></center>

	<div><hr class="contact-line-bottom"></div>
	<center><p class="contact-bottom-info">© 2016   J.P. Jennings, Co. All rights reserved.</p></center>	
</div>	